startup
build --cxxopt=-Isrc
build --cxxopt=-std=c++2b
build --noincompatible_sandbox_hermetic_tmp
build --registry=https://raw.githubusercontent.com/NzSN/bazel-central-registry/main/

build:debug --cxxopt=-std=c++2b
build:debug --strip=never
build:debug --copt -fsanitize=address
build:debug --copt -DADDRESS_SANITIZER
build:debug --copt -O0
build:debug --copt -g
build:debug --copt -fno-omit-frame-pointer
build:debug --linkopt -fsanitize=address
build:debug --cxxopt=-fconcepts-diagnostics-depth=10

build:debug_on_mac --cxxopt=-std=c++2b
build:debug_on_mac --strip=never
build:debug_on_mac --copt -fsanitize=address
build:debug_on_mac --copt -DADDRESS_SANITIZER
build:debug_on_mac --copt -O0
build:debug_on_mac --copt -g
build:debug_on_mac --copt -fno-omit-frame-pointer
build:debug_on_mac --linkopt -fsanitize=address


common --enable_bzlmod
